body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

/*HOME*/
#header-home {
  height: 100vh;
  margin: 0;
  color: #f3f0f0;
  font-size: 16px;
  background-image: url("/assets/home/background-home-desktop.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Barlow", sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#header-home nav {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
}
#header-home nav hr {
  border: 1px solid #bababa;
  width: 50%;
  opacity: 0.5;
}
#header-home nav ul {
  width: 60%;
  display: flex;
  position: relative;
  justify-content: center;
  list-style: none;
  padding: 1.5rem 1rem;
  z-index: 1;
}
#header-home nav ul li {
  margin-left: 1.5rem;
  transform: scale(0.8, 0.8);
  opacity: 0.8;
  transition: transform 400ms, opacity 400ms;
}
#header-home nav ul li a {
  text-transform: uppercase;
  color: #ffffff;
}
#header-home nav ul li a span {
  font-size: 1rem;
  margin-right: 10px;
  font-weight: 600;
}
#header-home nav ul li.active {
  border-bottom: 2px solid white;
}
#header-home nav ul li:hover {
  transform: scale(1, 1);
  opacity: 1;
}
#header-home nav ul::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0deg, 0%, 100%, 0.15);
  z-index: -1;
}
#header-home nav .toggle {
  display: none;
}
#header-home .banner {
  display: flex;
  align-items: flex-end;
  max-width: 1000px;
  gap: 3rem;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 4rem;
}
#header-home .banner .banner__title {
  width: 50%;
  padding: 40px 40px 0;
}
#header-home .banner .banner__title span {
  text-transform: uppercase;
  margin-bottom: 0;
}
#header-home .banner .banner__title h1 {
  font-size: 160px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Barlow", sans-serif;
  letter-spacing: 5px;
  line-height: 1.1;
}
#header-home .banner .explore__btn {
  display: flex;
  align-self: flex-end;
}
#header-home .banner .explore__btn .btn__primary {
  padding: 75px 50px;
  margin-bottom: 20px;
  background-color: #ffffff;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  border-radius: 50%;
  text-decoration: none;
}

/*DESTINATION*/
#header-destination {
  position: relative;
  height: 100vh;
  margin: 0;
  color: #f3f0f0;
  font-size: 16px;
  background-image: url("/assets/destination/background-destination-desktop.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Barlow", sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
#header-destination nav {
  position: fixed;
  width: 100%;
  max-width: 1100px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 0;
  padding-top: 1.5rem;
}
#header-destination nav ul {
  display: flex;
  position: relative;
  list-style: none;
  /*opacity: 0.4;
      filter: blur(2px);*/
  padding: 1.5rem 1rem;
  z-index: 1;
}
#header-destination nav ul li {
  margin-left: 2rem;
  padding-bottom: 6px;
  transform: scale(0.8, 0.8);
  opacity: 0.8;
  transition: transform 400ms, opacity 400ms;
}
#header-destination nav ul li a {
  text-transform: uppercase;
  color: #ffffff;
}
#header-destination nav ul li a span {
  font-size: 1rem;
  margin-right: 10px;
  font-weight: 600;
}
#header-destination nav ul li.active {
  border-bottom: 2px solid white;
}
#header-destination nav ul li:hover {
  transform: scale(1, 1);
  opacity: 1;
}
#header-destination nav ul::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0deg, 0%, 100%, 0.15);
  z-index: -1;
}
#header-destination nav .toggle {
  display: none;
}
#header-destination article {
  max-width: 1100px;
  display: flex;
  gap: 6rem;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 4rem;
}
#header-destination article .destination__img p {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: lighter;
}
#header-destination article .destination__img span {
  margin-right: 6px;
  color: #bababa;
  font-weight: 600;
}
#header-destination article .destination__img img {
  max-width: 100%;
  height: auto;
  animation: spin 24s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#header-destination article .destination__title {
  display: block;
  width: 50%;
}
#header-destination article .destination__title .destination__nav {
  display: flex;
}
#header-destination article .destination__title .destination__nav ul {
  display: flex;
  list-style: none;
  padding: 1.5rem 1rem;
}
#header-destination article .destination__title .destination__nav ul li {
  margin-left: 2rem;
  padding-bottom: 6px;
  transform: scale(0.8, 0.8);
  opacity: 0.8;
  transition: transform 400ms, opacity 400ms;
}
#header-destination article .destination__title .destination__nav ul li a {
  text-transform: uppercase;
  color: #ffffff;
}
#header-destination article .destination__title .destination__nav ul li a span {
  font-size: 1rem;
  margin-right: 10px;
  font-weight: 600;
}
#header-destination article .destination__title .destination__nav ul li.active {
  border-bottom: 2px solid white;
}
#header-destination article .destination__title .destination__nav ul li:hover {
  transform: scale(1, 1);
  opacity: 1;
}
#header-destination article .destination__title h1 {
  font-size: 140px;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
}
#header-destination article .destination__title .destination__meta {
  display: flex;
  justify-content: space-between;
  margin-right: 10rem;
}

/*CREW*/
#header-crew {
  position: relative;
  height: 100vh;
  margin: 0;
  color: #f3f0f0;
  font-size: 16px;
  background-image: url("/assets/crew/background-crew-desktop.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Barlow", sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
#header-crew nav {
  position: fixed;
  width: 100%;
  max-width: 1100px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 0;
  padding-top: 1.5rem;
}
#header-crew nav ul {
  display: flex;
  position: relative;
  list-style: none;
  /*opacity: 0.4;
      filter: blur(2px);*/
  padding: 1.5rem 1rem;
  z-index: 1;
}
#header-crew nav ul li {
  margin-left: 2rem;
  padding-bottom: 6px;
  transform: scale(0.8, 0.8);
  opacity: 0.8;
  transition: transform 400ms, opacity 400ms;
}
#header-crew nav ul li a {
  text-transform: uppercase;
  color: #ffffff;
}
#header-crew nav ul li a span {
  font-size: 1rem;
  margin-right: 10px;
  font-weight: 600;
}
#header-crew nav ul li.active {
  border-bottom: 2px solid white;
}
#header-crew nav ul li:hover {
  transform: scale(1, 1);
  opacity: 1;
}
#header-crew nav ul::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0deg, 0%, 100%, 0.15);
  z-index: -1;
}
#header-crew nav .toggle {
  display: none;
}
#header-crew #crew {
  max-width: 1100px;
  display: flex;
  gap: 6rem;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 4rem;
}
#header-crew #crew .crew__title {
  display: block;
  width: 60%;
  padding: 0 4rem;
}
#header-crew #crew .crew__title .crew__p {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: lighter;
}
#header-crew #crew .crew__title span {
  margin-right: 6px;
  color: #bababa;
  font-weight: 600;
}
#header-crew #crew .crew__title h3 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: lighter;
  opacity: 0.6;
  margin: 0;
  margin-top: 8rem;
}
#header-crew #crew .crew__title h2 {
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: lighter;
  line-height: 1;
  margin: 1rem 0;
}
#header-crew #crew .crew__title p {
  font-size: 1.1rem;
  font-weight: 500;
}
#header-crew #crew .crew__img img {
  max-width: 100%;
  height: auto;
}
#header-crew .button__group {
  align-self: flex-start;
  margin-left: 10rem;
  margin-bottom: 4rem;
}
#header-crew .button__group button {
  margin-right: 1.5rem;
  padding: 0.6rem;
  cursor: pointer;
  border-radius: 50%;
  border: 0;
  opacity: 0.4;
  transition: opacity 500ms;
}
#header-crew .button__group button.active {
  opacity: 1;
}

/*TECHNOLOGY*/
#header-technology {
  position: relative;
  height: 100vh;
  margin: 0;
  color: #f3f0f0;
  font-size: 16px;
  background-image: url("/assets/technology/background-technology-desktop.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Barlow", sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: end;
}
#header-technology nav {
  position: fixed;
  width: 100%;
  max-width: 1100px;
  top: 0;
  /*right:4rem;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4rem;
  margin-top: 0;
  padding-top: 1.5rem;
}
#header-technology nav ul {
  display: flex;
  position: relative;
  list-style: none;
  /*opacity: 0.4;
          filter: blur(2px);*/
  padding: 1.5rem 1rem;
  z-index: 1;
}
#header-technology nav ul li {
  margin-left: 2rem;
  padding-bottom: 6px;
  transform: scale(0.8, 0.8);
  opacity: 0.8;
  transition: transform 400ms, opacity 400ms;
}
#header-technology nav ul li a {
  text-transform: uppercase;
  color: #ffffff;
}
#header-technology nav ul li a span {
  font-size: 1rem;
  margin-right: 10px;
  font-weight: 600;
}
#header-technology nav ul li.active {
  border-bottom: 2px solid white;
}
#header-technology nav ul li:hover {
  transform: scale(1, 1);
  opacity: 1;
}
#header-technology nav ul::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0deg, 0%, 100%, 0.15);
  z-index: -1;
}
#header-technology nav .toggle {
  display: none;
}
#header-technology #technology {
  max-width: 1100px;
  display: flex;
  gap: 1.5rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 4rem;
}
#header-technology #technology .technology__title {
  display: block;
  width: 50%;
  padding: 0 0rem;
}
#header-technology #technology .technology__title .technology__p {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: lighter;
}
#header-technology #technology .technology__title span {
  margin-right: 6px;
  color: #bababa;
  font-weight: 600;
}
#header-technology #technology .technology__title h3 {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: lighter;
  opacity: 0.6;
  margin: 0;
  margin-top: 4rem;
}
#header-technology #technology .technology__title h2 {
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: lighter;
  line-height: 1;
  margin: 1rem 0;
}
#header-technology #technology .technology__title p {
  font-size: 1.1rem;
  font-weight: 500;
}
#header-technology #technology .technology__img img {
  max-width: 100%;
  height: auto;
}
#header-technology .button__group {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-bottom: 10rem;
}
#header-technology .button__group button {
  padding: 2.2rem;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: hsl(0deg, 0%, 100%);
  opacity: 0.3;
  transition: opacity 800ms;
  margin-bottom: 1rem;
}
#header-technology .button__group button.active {
  background-color: #ffffff;
  color: #000000;
  opacity: 1;
}/*# sourceMappingURL=main.css.map */