@import "variables";
@import "base";
@import "home";
@import "destination";
@import "crew";
@import "technology";

/* barlow-condensed-regular - latin */
@font-face {
    font-family: 'Barlow Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/barlow-condensed-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/barlow-condensed-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/barlow-condensed-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/barlow-condensed-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/barlow-condensed-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/barlow-condensed-v11-latin-regular.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
  }

/* bellefair-regular - latin */
@font-face {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/bellefair-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/bellefair-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bellefair-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bellefair-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/bellefair-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bellefair-v12-latin-regular.svg#Bellefair') format('svg'); /* Legacy iOS */
  }
@font-face {
    font-family: 'Mate SC';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/mate-sc-v19-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/mate-sc-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/mate-sc-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/mate-sc-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/mate-sc-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/mate-sc-v19-latin-regular.svg#MateSC') format('svg'); /* Legacy iOS */
  }



/* BODY*/


/*HOME   */



/*DESTINATION*/ 



/*CREW*/

/*TECHNOLOGY*/
